/* ESTILOS GENERALES
   =================================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
}

body{
	font-family: Catamaran, Helvetica, sans-serif;
}

.container{
	width: 90%;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
}

/* HEADER
   =================================================================== */
.header{
    width: 100%;
    height: 600px;
    background-image: url('img/telefono-img.png'), url('img/fondo.png');
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), -moz-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), -webkit-gradient(left top, right top, color-stop(0%, rgba(26, 80, 130, 0.97)), color-stop(0%, rgba(26, 80, 130, 0.97)), color-stop(25%, rgba(26, 80, 130, 0.98)), color-stop(81%, rgba(227, 94, 32, 0.99)), color-stop(100%, rgba(227, 94, 32, 1)));
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), -webkit-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), -o-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), -ms-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
    background-image: url('img/telefono-img.png'), url('img/fondo.png'), linear-gradient(to right, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
    background-repeat: no-repeat, repeat;
    background-position: 90% 100%;
}

/* MENÚ
   =================================================================== */
/* PADRE: Menú - HIJOS: Logo e Items del Menú */
.header .menu{
	padding-top: 15px;
	display: flex; /* Establezco que voy a trabajar con Flex. */
	flex-direction: row; /* Dirección de los elementos hijos. */
	justify-content: space-between; /* Dejo espacio entre los hijos. */
}

.header .menu-items nav>a{
	font-size: 11px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
}

.header .menu-items nav>a:hover{
  color:#494c46;
}

/* LOGO
   =================================================================== */
.header .logo a{
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 2px;
}

/* DOWNLOAD
	 =================================================================== */


/* FEATURES
	 =================================================================== */


/* START-BUILDING
	 =================================================================== */


/* CONTAC
	 =================================================================== */


/* FOOTER
	 =================================================================== */
