/* ESTILOS GENERALES
 =================================================================== */
/* ESTILOS GENERALES
   =================================================================== */

  /* Media - Móvil 
  ----------------------------------------------------*/

  /* Media - Tablet
  ------------------------------------------------------*/

  /* Media - Desktop
-------------------------------------------------------*/
@media only screen and (min-width: 1100px){

* {
	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
}

ul, li, a {
  	list-style: none;
  	text-decoration: none;
}

body{
	font-family: 'Catamaran', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
	letter-spacing: 2px;
}

.btn{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #fff;
	border-radius: 30px;
	border: 1px solid #fff;
  	transition: all 0.5s;
	padding: 15px 45px;
}

.btn:hover{
  	background-color: #ffce47;
  	border: 1px solid #ffce47;
}

.container{
  	width: 80%;
  	margin: 0 auto;
}

/* HEADER
   =================================================================== */
.header{
	width: 100%;
	height: 600px;
	background-image: url('img/telefono-img.png'), url('img/fondo.png');
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), -moz-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), -webkit-gradient(left top, right top, color-stop(0%, rgba(26, 80, 130, 0.97)), color-stop(0%, rgba(26, 80, 130, 0.97)), color-stop(25%, rgba(26, 80, 130, 0.98)), color-stop(81%, rgba(227, 94, 32, 0.99)), color-stop(100%, rgba(227, 94, 32, 1)));
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), -webkit-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), -o-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), -ms-linear-gradient(left, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
	background-image: url('img/telefono-img.png'), url('img/fondo.png'), linear-gradient(to right, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.97) 0%, rgba(26, 80, 130, 0.98) 25%, rgba(227, 94, 32, 0.99) 81%, rgba(227, 94, 32, 1) 100%);
	background-repeat: no-repeat, repeat;
	background-position: 86% 100%;
}

.header .header-content h1{
	font-size: 50px;
	color: #fff;
	width: 64%;
	margin-top: 150px;
}

/* MENÚ
   =================================================================== */
/* PADRE: Menú - HIJOS: Logo e Items del Menú */
.header .header-menu{
	padding-top: 15px;
	display: flex; /* Establezco que voy a trabajar con Flex. */
	flex-direction: row; /* Dirección de los elementos hijos. */
	justify-content: space-between; /* Dejo espacio entre los hijos. */
}

.header .header-menu .menu-items nav>a{
	font-size: 12px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 20px;
	letter-spacing: 2px;
}

.header .header-menu .menu-items nav>a:hover{
  	color:#494c46;
}

/* LOGO
   =================================================================== */
.header .header-menu .logo a{
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 2px;
}

/* DOWNLOAD
	 =================================================================== */
.download{
  	width: 100%;
  	padding: 100px;
	background-color: #ffce47;
  	text-align: center;
}

.download h2{
	font-size: 70px;
	color: #ffffff;
}

.download p{
 	font-size: 20px;
	color: #ffffff;
	padding-top: 10px;
}

.badges{
	margin-top: 15px;
}

/* FEATURES
	 =================================================================== */
.features{
  	width: 100%;
  	padding: 100px;
}

.features .features-container{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
}

.features .section-title{
	text-align: center;
}

.features .section-title h2{
	font-size: 50px;
}

.features .section-title p{
	font-size: 20px;
	padding-top: 10px;
 	padding-bottom: 50px;
}

.features-grid{
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	margin: 30px auto;
	justify-content: space-around;
}

.features .features-items i{
  	font-size: 80px;
  	color: #6812ae;
}	

.features .features-items h3{
  	font-size: 30px;
}

.features .features-items p{
  	font-size: 18px;
  	text-align: center;
}

/* START-BUILDING
	 =================================================================== */
#background-image{
	background-image: url("img/usuario.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
}

.start-building{
  	padding: 250px 0;
  	display: flex;
  	align-items: center;
  	font-size: 52px;
  	color: #ffffff;
  	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73)17%, rgba(0,0,0,0.66)35%, rgba(0,0,0,0.55)62%, rgba(0,0,0,0.4)100%);
}

/* CONTACT
	 =================================================================== */
.contact{
	background-color: #ffce47;
  	padding: 100px;
	text-align: center;
  	font-size: 35px;
  	color: #ffffff;
  	display: flex;
  	align-items: center;
}

.contact ul{
	padding-top: 15px;
}

.contact .ion-heart{
	color: #ff564b;
}

.contact .social-icon a i{
	color: #ffffff;
	margin-right: 6px;
	font-size: 45px;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 85px;
	border-radius: 50%;
	transition: 0.25%;
}

.contact .ion-social-facebook{
  	background: #3b5998;
}

.contact .ion-social-twitter{
  	background: #55acee;
}

.contact .ion-social-googleplus{
 	background: #dd4b39;
}

.contact .social-icon a i:hover{
  	transform: scale(1.2) rotate(15deg);
}

/* FOOTER
	 =================================================================== */
.footer{
	background: #222;
  	text-align: center;
  	padding: 25px;
}

.footer p, a{
 	font-size: 14px;
  	font-weight: 500;
  	color: #666666;
  	padding-top: 5px;
}

.footer a:hover{
	color: #ffce47;
}

.conteiner, ul, li{
	display: inline-block;
}
}
